# Inferential statistics
## Part I - Data Cleaning

Your family is very passionate about basketball. You always have discussions over players, games, statistics and whatnot. As you can imagine those discussions never reach a conclusion since everyone is simply sharing their opinion with no statistics to back them up!

![](../images/basket.jpg)

Since you are attending a data analysis bootcamp you'd like to take advantage of your newfound knowledge to finally put an end to your family's discussions. 

Luckily we have found a dataset containing data related to the players of the WNBA for the 2016-2017 season that we can use. 

Let's start with cleaning the data and then we'll continue with a general exploratory analysis and some inferential statistics.

### Dataset

The dataset we will be using contains the statistics from the WNBA players for the 2016-2017 season. You will be able to find more information on the dataset in the [codebook](../data/codebook.md) uploaded to the repository.

### Libraries

First we'll import the necessary libraries first and increase the maximum number of displayed columns so you will be able to see all the dataset in the same window.

In [2]:
import pandas as pd
pd.set_option('max_columns', 100)

### Load the dataset

Load the dataset into a df called `wnba` and take an initial look at it using the `head()` method.

In [36]:
wnba=pd.read_csv('/Users/sandrine/Desktop/Prework/806_Repo/Labs/module_2/M2-mini-project2/data/wnba.csv')
wnba.head()

(              Name Team  Pos  Height  Weight        BMI Birth_Place  \
 0    Aerial Powers  DAL    F     183    71.0  21.200991          US
 1      Alana Beard   LA  G/F     185    73.0  21.329438          US
 2     Alex Bentley  CON    G     170    69.0  23.875433          US
 3  Alex Montgomery  SAN  G/F     185    84.0  24.543462          US
 4     Alexis Jones  MIN    G     175    78.0  25.469388          US

            Birthdate  Age         College Experience  Games Played  MIN  FGM  \
 0   January 17, 1994   23  Michigan State          2             8  173   30
 1       May 14, 1982   35            Duke         12            30  947   90
 2   October 27, 1990   26      Penn State          4            26  617   82
 3  December 11, 1988   28    Georgia Tech          6            31  721   75
 4     August 5, 1994   23          Baylor          R            24  137   16

    FGA   FG%  3PM  3PA   3P%  FTM  FTA   FT%  OREB  DREB  REB  AST  STL  BLK  \
 0   85  35.3   12   32  37.5   21   26  80.8     6    22   28   12    3    6
 1  177  50.8    5   18  27.8   32   41  78.0    19    82  101   72   63   13
 2  218  37.6   19   64  29.7   35   42  83.3     4    36   40   78   22    3
 3  195  38.5   21   68  30.9   17   21  81.0    35   134  169   65   20   10
 4   50  32.0    7   20  35.0   11   12  91.7     3     9   12   12    7    0

    TO  PTS  DD2  TD3
 0  12   93    0    0
 1  40  217    0    0
 2  24  218    0    0
 3  38  188    2    0
 4  14   50    0    0  ,
 (143, 32))

### Check NaN values
As you know, one of our first steps is to check if there are any NaN values in the dataset to find any issues. Look for the columns that cointain NaN values and count how many rows there are with that value.

In [11]:
wnba.isnull().sum()

Name            0
Team            0
Pos             0
Height          0
Weight          1
BMI             1
Birth_Place     0
Birthdate       0
Age             0
College         0
Experience      0
Games Played    0
MIN             0
FGM             0
FGA             0
FG%             0
3PM             0
3PA             0
3P%             0
FTM             0
FTA             0
FT%             0
OREB            0
DREB            0
REB             0
AST             0
STL             0
BLK             0
TO              0
PTS             0
DD2             0
TD3             0
dtype: int64

We can see that there are only two NaNs in the whole dataset, one in the Weight column and one in the BMI one. Let's look at the actual rows that contain the NaN values.

In [15]:
wnba[wnba.Weight.isnull()]
#the Nan of BMI is in the same row:91.

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
91,Makayla Epps,CHI,G,178,NaN,NaN,US,"June 6, 1995",22,Kentucky,R,14,52,2,14,14.3,0,5,0.0,2,5,40.0,2,0,2,4,1,0,4,6,0,0

It looks like there is only a single row that has NaN values in it, which is good! Just in case, let's check how much removing a single row may influence our dataset by calculating the percentage of values we will be removing.

In [33]:
#percentage of values removed/total non null values
(wnba.loc[91].value_counts().sum()/wnba.notnull().sum().sum())*100

0.6558810668998688

It is very important to be as careful as possible when dealing with NaN values and only drop data when it is strictly necessary. This decision can also be influenced by the nature of our analysis. If, for example, our analysis will not require the Weight and BMI of the players at all we can simply keep the row, given that the NaN values are only present in the Weight and BMI column.

In this specific example, let's say our decision is to drop it. Write some code to drop the NaN values.

In [38]:
wnba.dropna(inplace=True)

In [41]:
wnba.shape
wnba[wnba['Team']=='CHI']

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
7,Allie Quigley,CHI,G,178,64.0,20.199470,US,"June 20, 1986",31,DePaul,8,26,847,166,319,52.0,70,150,46.7,40,46,87.0,9,83,92,95,20,13,59,442,0,0
13,Amber Harris,CHI,F,196,88.0,22.907122,US,"January 16, 1988",29,Xavier,3,22,146,18,44,40.9,0,10,0.0,5,8,62.5,12,28,40,5,3,9,6,41,0,0
17,Bashaara Graves,CHI,F,188,91.0,25.746944,US,"March 17, 1994",23,Tennessee,1,5,59,8,14,57.1,0,0,0.0,3,4,75.0,4,13,17,3,0,1,3,19,0,0
30,Cappie Pondexter,CHI,G,175,73.0,23.836735,US,"July 1, 1983",34,Rutgers,11,24,676,94,258,36.4,8,32,25.0,54,67,80.6,10,59,69,104,17,5,56,250,2,0
34,Cheyenne Parker,CHI,F,193,86.0,23.087868,US,"August 22, 1992",25,Middle Tennessee,2,23,286,32,69,46.4,0,3,0.0,23,36,63.9,31,47,78,13,8,15,21,87,0,0
37,Courtney Vandersloot,CHI,G,173,66.0,22.052190,US,"August 2, 1989",28,Gonzaga,6,22,673,104,199,52.3,23,60,38.3,24,29,82.8,13,75,88,175,22,5,64,255,10,0
65,Jessica Breland,CHI,F,191,77.0,21.106878,US,"February 23, 1988",29,North Carolina,5,10,78,9,16,56.3,0,0,0.0,4,5,80.0,5,13,18,2,1,9,3,22,0,0
69,Jordan Hooper,CHI,F,188,84.0,23.766410,US,"February 20, 1992",25,Nebraska,3,29,833,164,299,54.8,22,49,44.9,117,142,82.4,108,226,334,40,29,46,46,467,17,0
71,Kahleah Copper,CHI,G/F,185,70.0,20.452885,US,"August 28, 1994",22,Rutgers,1,29,475,62,163,38.0,12,32,37.5,49,65,75.4,10,33,43,32,13,3,48,185,0,0
78,Keisha Hampton,CHI,F,185,78.0,22.790358,US,"February 22, 1990",27,DePaul,1,30,504,64,157,40.8,14,52,26.9,65,81,80.2,36,59,95,24,20,7,21,207,0,0
125,Stefanie Dolson,CHI,C,196,97.0,25.249896,US,"August 1, 1992",25,Connecticut,3,28,823,162,293,55.3,24,60,40.0,50,58,86.2,35,121,156,65,14,37,65,398,3,0

**Do you think it is a good decision? Think about a case in which you wouldn't want to drop the value.**

In [13]:
"""It represents less than 1% for the whole dataset so it should not impact a lot the results if the analysis 
concerns the whole Nba. If we had to make a focus on the Chicago Team it would have been different (few rows).Example
when I would not drop the row: Analysis of the average age in the Chicago team"""

### Let's make an overview of the dataset
First, check the data types of our data:

In [42]:
wnba.dtypes

Name             object
Team             object
Pos              object
Height            int64
Weight          float64
BMI             float64
Birth_Place      object
Birthdate        object
Age               int64
College          object
Experience       object
Games Played      int64
MIN               int64
FGM               int64
FGA               int64
FG%             float64
3PM               int64
3PA               int64
3P%             float64
FTM               int64
FTA               int64
FT%             float64
OREB              int64
DREB              int64
REB               int64
AST               int64
STL               int64
BLK               int64
TO                int64
PTS               int64
DD2               int64
TD3               int64
dtype: object

It looks like most of the data types are correct. Birthdate column could be casted to a `datetime` type, however, we won't use it in our analysis so for simplicity, let's leave it as an `object`. Weight column could also be casted to an `int64` type as all numbers are integers.

**Let's change the type of Weight column for practice.**

In [61]:
wnba=wnba.astype({'Weight': 'int64'})

In [62]:
wnba.Weight.dtype

dtype('int64')

**After checking the data types, let's check for outliers using the describe() method.**

In [63]:
wnba.describe()

,Height,Weight,BMI,Age,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,184.612676,78.978873,23.091214,27.112676,24.429577,500.105634,74.401408,168.704225,43.102817,14.830986,43.697183,24.978169,39.535211,49.422535,75.828873,22.063380,61.591549,83.654930,44.514085,17.725352,9.781690,32.288732,203.169014,1.140845,0.007042
std,8.698128,10.996110,2.073691,3.667180,7.075477,289.373393,55.980754,117.165809,9.855199,17.372829,46.155302,18.459075,36.743053,44.244697,18.536151,21.519648,49.669854,68.200585,41.490790,13.413312,12.537669,21.447141,153.032559,2.909002,0.083918
min,165.000000,55.000000,18.390675,21.000000,2.000000,12.000000,1.000000,3.000000,16.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
25%,175.750000,71.500000,21.785876,24.000000,22.000000,242.250000,27.000000,69.000000,37.125000,0.000000,3.000000,0.000000,13.000000,17.250000,71.575000,7.000000,26.000000,34.250000,11.250000,7.000000,2.000000,14.000000,77.250000,0.000000,0.000000
50%,185.000000,79.000000,22.873314,27.000000,27.500000,506.000000,69.000000,152.500000,42.050000,10.500000,32.000000,30.550000,29.000000,35.500000,80.000000,13.000000,50.000000,62.500000,34.000000,15.000000,5.000000,28.000000,181.000000,0.000000,0.000000
75%,191.000000,86.000000,24.180715,30.000000,29.000000,752.500000,105.000000,244.750000,48.625000,22.000000,65.500000,36.175000,53.250000,66.500000,85.925000,31.000000,84.000000,116.500000,66.750000,27.500000,12.000000,48.000000,277.750000,1.000000,0.000000
max,206.000000,113.000000,31.555880,36.000000,32.000000,1018.000000,227.000000,509.000000,100.000000,88.000000,225.000000,100.000000,168.000000,186.000000,100.000000,113.000000,226.000000,334.000000,206.000000,63.000000,64.000000,87.000000,584.000000,17.000000,1.000000

**Comment on your result. What do you see?**

In [20]:
"""There may be outliers in the MIN ,FGA,FGM,3PM,3PA..There are outliers in all the game statistics"""

**Now we can save the cleaned data to a new .csv file called `wnba_clean.csv` in the data folder.**

In [64]:
wnba.to_csv('/Users/sandrine/Desktop/Prework/806_Repo/Labs/module_2/M2-mini-project2/data/wnba_clean.csv')