## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[23, 70, 32, 43, 8, 42, 66, 99, 69, 26, 27, 85, 50, 76, 14, 73, 79, 95, 71, 0, 29, 80, 18, 92, 94, 5, 67, 34, 30, 60, 100, 82, 57, 65, 9, 36, 46, 37, 90, 78, 11, 38, 7, 59, 56, 41, 87, 16, 15, 1, 19, 35, 44, 47, 33, 24, 83, 22, 20, 98, 74, 45, 21, 52, 40, 81, 89, 13, 2, 93, 25, 10, 54, 31, 53, 4, 17, 84, 39, 72]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(len(set1))
#Yes, because random.sample returns 80 uniques elements so the len of the set will be 80.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# Your code here
sample_list_2=[]
for i in range (80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
#check
print(len(sample_list_2))

[32, 18, 3, 85, 2, 72, 2, 44, 10, 58, 32, 43, 47, 25, 78, 70, 90, 14, 46, 2, 99, 96, 64, 84, 24, 80, 53, 68, 97, 93, 60, 26, 85, 14, 59, 27, 6, 53, 69, 71, 6, 95, 63, 12, 60, 94, 69, 76, 95, 92, 82, 71, 53, 90, 55, 66, 0, 100, 67, 48, 66, 42, 85, 60, 32, 65, 70, 27, 24, 83, 34, 90, 76, 58, 76, 15, 92, 17, 42, 1]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
#No, because the values in the list are not unique.

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1.difference(set2)
print(set3)

{0, 1, 7, 8, 11, 14, 20, 21, 26, 27, 29, 32, 33, 34, 36, 37, 38, 39, 41, 42, 44, 46, 52, 53, 56, 66, 67, 79, 80, 83, 85, 87, 93, 94, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2.difference(set1)
print(set4)

{64, 96, 3, 68, 75, 77, 49, 51, 55, 91, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{2, 4, 5, 9, 10, 13, 15, 16, 17, 18, 19, 22, 23, 24, 25, 30, 31, 35, 40, 43, 45, 47, 50, 54, 57, 59, 60, 65, 69, 70, 71, 72, 73, 74, 76, 78, 81, 82, 84, 89, 90, 92, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
len(set3)+len(set4)+len(set5)==len(set1)+len(set2)-len(set5)

True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
#check
len(set6)==len(set3)+len(set5)

{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 59, 60, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 98, 99, 100}

True

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
print('set 1 contains set 2? ',set2.issubset(set1))
print('set 1 contains set 3? ',set3.issubset(set1))

set 1 contains set 2?  False
set 1 contains set 3?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set7=set3.union(set4,set5)
set8=set1.union(set2)
set7==set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print('old', set1)
toto=list(set1)
toto.pop(0)
set1=set(toto)
print('new',set1)

old {0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 59, 60, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 98, 99, 100}
new {1, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 59, 60, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 89, 90, 92, 93, 94, 95, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
tata=list(set1)
for x in list_to_remove:
    if x in set1:
            tata.remove(x)
Newset1=set(tata)
print(Newset1)

{2, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 60, 65, 66, 67, 70, 72, 73, 74, 76, 78, 80, 82, 83, 84, 85, 87, 90, 92, 93, 94, 95, 98, 100}

In [17]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9